<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Leave Applications</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <!-- Welcome message at the top -->
    <div class="alert alert-info mt-3" role="alert">
        Welcome, <span th:text="${user.getUsername()}">username</span>
        <a th:href="@{/logout}" class="btn btn-danger">Logout</a>
    </div>
    <nav class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a th:href="@{/staff/leaveApplication/history}">My LeaveApplication History</a></li>
            <li><a th:href="@{/staff/compensationLeave/history}">My Compensation Claims</a></li>
        </ul>
    </nav>
    <div class="leave-balance mt-3">
        <h3>Leave Balance</h3>
        <p>Annual Leave Balance: <span th:text="${user.getAnnual_leave_entitlement_last()}">0</span> days</p>
        <p>Medical Leave Balance: <span th:text="${user.getMedical_leave_entitlement_last()}">0</span> days</p>
        <p>Compensation Leave Balance: <span th:text="${user.getCompensation_leave_balance_last()}">0</span> days</p>
    </div>
    <h1 class="mt-5">Your Leave Applications</h1>

    <a href="/staff/apply-leave" class="btn btn-primary">Create Leave Application</a>
    <div th:if="${leaveApplications.isEmpty()}">
        <h3>You have not submitted any leave applications yet.</h3>
    </div>

    <div th:if="${!leaveApplications.isEmpty()}">
        <table class="table mt-3">
            <thead>
            <tr>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Reason</th>
                <th>Work Dissemination</th>
                <th>Contact Details</th>
                <th>Status</th>
                <th>Create Time</th>
                <th>Update Time</th>
                <th>Actions</th> <!-- 添加一个新的表头用于操作 -->
            </tr>
            </thead>
            <tbody>
            <tr th:each="leaveApplication : ${leaveApplications}">
                <td th:text="${leaveApplication.leaveType.name}"></td>
                <td th:text="${leaveApplication.start_date}"></td>
                <td th:text="${leaveApplication.end_date}"></td>
                <td th:text="${leaveApplication.reason}"></td>
                <td th:text="${leaveApplication.work_dissemination}"></td>
                <td th:text="${leaveApplication.contact_details}"></td>
                <td th:text="${leaveApplication.status}"></td>
                <td th:text="${leaveApplication.created_at}"></td>
                <td th:text="${leaveApplication.updated_at}"></td>
                <td>
                    <div th:if="${#strings.equals(leaveApplication.status, 'APPLIED')  or #strings.equals(leaveApplication.status,'UPDATED')}">
                        <a th:href="@{/staff/leaveApplication/edit/}+${leaveApplication.id}">Update</a> |
                        <a th:href="@{/staff/leaveApplication/delete/}+${leaveApplication.id}">Delete</a>
                    </div>
                    <div th:if="${#strings.equals(leaveApplication.status, 'APPROVED')}">
                        <a th:href="@{/staff/leaveApplication/cancel/}+${leaveApplication.id}" class="cancel-btn" th:data-start-date="${leaveApplication.start_date}">Cancel</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script>
    $(document).ready(function() {
        $('.cancel-btn').each(function() {
            var startDate = $(this).data('start-date');
            var startDateOnly = new Date(startDate);
            startDateOnly.setHours(0, 0, 0, 0);
            var currentDate = new Date();
            currentDate.setHours(0, 0, 0, 0);

            if (currentDate > startDateOnly) {
                $(this).click(function(event) {
                    event.preventDefault();
                    alert('Cannot cancel leave after the start date.');
                });
            }
        });
    });
</script>
</body>
</html>
